<section id="welcome">
  <h1>Welcome to Book Club!</h1>

  <p>We are very pleased to share our book club project with you. Out project was designed so we could learn how to make a website using Rails as a framework, and ActiveRecord as an ORM for our database. We learned a lot about MVC frameworks, routing in Rails, ActiveRecord methods that find the data we want, and most importantly using feature tests and model test to drive our development. (We used RSpec for our testing). A very nice side effect of this project was that we learned quite a bit about CSS and HTML and how to manipulate and style the website to look the way we wanted to. Check out our code!!!</p>
  <p>Repo: <%= link_to "Our Code!!!", "https://github.com/smthom05/book_club" %></p>
  <p>Tim's GitHub profile: <%= link_to "Tim", "https://github.com/allen4397" %></p>
  <p>Scott's GitHub profile: <%= link_to "Scott", "https://github.com/smthom05" %></p>

</section>
